body {
    background: rgb(2,0,36);
    background: linear-gradient(#615295, #e7746f);
    text-align: center;
    font-family: 'Source Sans Pro';
}


.frase1 {
    color: white;
    opacity: 0.8;
}


header {
    color: white;
    padding: 30px 30px;
    text-align: center;
    display: block;   
}


h1 {
    font-size: 60px;
}


p {
    font-size: 20px;
}

.botao {
    text-decoration: none;
    color: grey;
    text-align: center;
}
.links {
    color: white;
    text-decoration: underline;
}


.menu {
    text-decoration: none;
    color: grey;
}


ul {
    list-style: none;
    padding: 0px;
    display: block;
}


li {
    margin-left: 50px;
    text-decoration: none;
    background-color: white;
    cursor: progress;
    padding: 25px;
    display: inline-block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.p1 {
    text-align: left;
    display: block;
    text-decoration: none;
}


.segunda {
    display: inline-block;
    text-align: left;
    color: grey;
    background-color: white;
    margin: -50px;
}


.celular {
    border-radius: 50%;
    width: 290px;
    height: 290px;
    float: right;
}