.container{
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    display: flex;
    align-items: center;
    font-family: 'Bebas Neue';
    font-size: 30px;
    color: rgb(77, 77, 77);
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: 'PT Sans';
}

nav ul li a:hover{
    color: rgb(0,154,111);;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:100px 0;
}

.coluna1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
    
}