.autor {
    font-style: italic;
    text-align: center;
    font-family: Arial, "Helvetica Neue";
}

h1 {
    text-align: center;
    color: blue;
    font-family: Arial, "Helvetica Neue";
  }

p {
    text-align: center;
    font-size: large;
    font-family: Arial, "Helvetica Neue";
  }

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.cimabaixo {
    border: 1px solid black
}

.segunda {
    color: grey;
}