body {
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    font-size: large;
}

.links {
    text-align: center;
    font-family: Arial;
}